html{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

#main-header {
  background-color: #222;
  width: 100%;
  height: 4em;
}

a:link {
  text-decoration: none;
}

#logo {
  float: left;
  margin-left: 5em;
}

.right-button {
  float: right;
  width: 7em;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-right: 1em;
  margin-top: 1.6em;
  background-color: #9ea3a9;
  color: #fff;
  text-decoration: none;
}

.bottom-right-button {
  float: right;
  width: 9em;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-right: 13.65em;
  margin-top: 0.5em;
  margin-bottom: 4em;
  background-color: #9ea3a9;
  color: #fff;
  text-decoration: none;
}

h2 {
  display: block;
  margin-top: 5em;
  margin-left: 9em;
  margin-bottom: 4em;
  color: #222;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
}

#question-summary {
  width: 60em;
  height: 4em;
  /*text-align: center;*/
  border-bottom: solid 1px;
  margin-left: 13em;
  padding-top: 1.2em;
  margin: auto;
}

#question-title {
  width: 27em;
  display: inline-block;
  text-decoration: none;
  margin-left: 0.2em;
}

#title-link {
  color: #07c;
}

#number-answers {
  display: inline-block;
  width: 6em;
  font-size: 14px;
  font-weight: 300;
  color: #777;
}
#number-votes {
  display: inline-block;
  width: 6em;
  font-size: 14px;
  font-weight: 300;
  color: #777;
}
#question-author {
  display: inline-block;
  width: 10em;
  font-size: 12px;
  color: #999;
}
#question-date {
  display: inline-block;
  width: 12em;
  font-size: 16px;
  font-weight: 300;
  color: #777;
}

#author-link {
  color: #07c;
}

h3 {
  display: block;
  margin-top: 8em;
  color: #07c;
  font-weight: 1000;
  font-size: 24px;
  line-height: 1.3;
  text-align: center;

}

h4 {
  display: block;
  margin-top: -0.5em;
  margin-bottom: 4em;
  color: #07c;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.3;
  text-align: center;
}

#login-form {
  width: 6em;
  margin-left: 3em;
  margin-top: -3em;
  margin-bottom: 2em;
  padding-top: 2.1em;
}

#login-container {
  width: 17em;
  height: 10em;
  margin: auto;
  background-color: #9ea3a9;
  border-radius: 10px;
}

#signup-input {
  width: 11em;
  margin-top: 0.5em;
  background-color: black;
  border-style: none;
  color: #fff;
  border-radius: 5px;
}

#password-input {
  margin-top: 0.5em;
}
