<%= erb :_header %>

<h3>Welcome back!</h3>
<h4>It's great to see you</h4>

<div id="login-container">
  <form id="login-form" method="POST" action="/users/session">
      Email <input type="email" name="email"></br>
      Password <input type="password" name="password"></br>
    <input type="submit" value="Login!">
  </form>
</div>
