<h3> Welcome! </h3>

<form method="POST" action="/users/session">
  Email: <input type="email" name="email"></br>
  Password: <input type="password" name="password"></br>
  <input type="submit" value="Login!">
</form>

