<h3> Registration </h3>

<form method="POST" action="http://127.0.0.1:9393/users">
	First Name: <input type="text" name="first_name" placeholder= "first name" ></br>
	Last Name: <input type="text" name="last_name" placeholder= "last name"></br>
	Email: <input type="email" name="email" placeholder= "email"></br>
	City: <input type="text" name="city" placeholder= "city"></br>
	A little about yourself: <input type="text" name="description" placeholder= "info"></br>
  Password: <input type="password" name="password" placeholder= "password"></br>
  <input type="submit" value="Register!">
</form>
