<button> <a href="/users/login"> Login </a> </button>
<br>
<button><a href="/users/new"> Register </a></button>
</br> 


<% if session[:user_id] != nil %>
<button><a href="/users/logout">Logout </a></button>
<% end %> 