<!--  -->
<h1>DBCOverflow</h1>

<button id="home-button"><a href="/">Home </a></button>

<% if current_user %>
  <button id="logout-button"><a href="/users/logout">Logout </a></button>
  <button id="profile-button"><a href="/profiles/<%=@user.id%>">My Profile </a></button>
<% else %>
  <button id="login-button"><a href="/users/login"> Login </a> </button>
  <button id="register-button"><a href="/users/new"> Register </a></button>  
<% end %>