  
  <!-- FORM FOR NEW QUESTION -->
 <h3>Question</h3>
<form method="POST" action="/questions">
  Title: <input type="text" name="title" placeholder="something snarky"></br>
  Question: <input type="text" name="description" placeholder="Please help me see the light!"></br>
  <input type="submit" value="Gimme the knowledge!">
</form>

