<!-- FORM FOR NEW ANSWER -->
<h3>Answer</h3>
 <form method="POST" action="/answers">
  <input type="text" name="description" placeholder="Let me enlighten you!"></br>
  <input type="submit" value="You're welcome!">
</form>