  <!-- FORM FOR NEW QUESTION -->
 <h3>Question</h3>
<form method="POST" action="/questions">
  Username: <input type="text" name="username" placeholder="username"></br>
  Question: <input type="text" name="question" placeholder="Please help me see the light!"></br>
  <input type="submit" value="Gimme the knowledge!">
</form>

 <!-- FORM FOR NEW ANSWER -->
<h3>Answer</h3>
 <form method="POST" action="/answers">
  Username: <input type="text" name="username" placeholder="username"></br>
  Question: <input type="text" name="answer" placeholder="Let me enlighten you!"></br>
  <input type="submit" value="You're welcome!">
</form>