<%= erb :_header %>

<section id="question-container">
  <div id="question-header">
    <p>
    <span div="question-title"><%= @question.title %></h2>
    <container ><%= @question.name %></h3>
    </p> 
  </div>
</section>

